// ********************************************* variables
$principal-color: #042959;
$second-color: #c70039;
$third-color: #9bdaf2;

// background
$bg-color-body: white;
$bg-color-animation: $principal-color;
$bg-gradient: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);

// text
$txt-color: $third-color;
$title-color: $third-color;
$btn-txt-color: white;

// border radius
$box-border-rad: 2rem;
$input-border-rad: 0.5rem;
$btn-border-rad: 5rem;
