.container {
  margin: 5% auto;
  height: 100px;
  width: 600px;
  border: 2px solid black;
  background-color: grey;
}
.container:hover {
  .square {
    transform: translateX(550px); /*au final*/
  }
}
.square {
  transition: transform 3000ms;
  transition-timing-function: ease-in;
  height: 50px;
  width: 50px;
  background-color: black;
  position: relative;
  top: 25px;
}

/* @keyframes move {
  0% {
    left: 0%;
  }
  50% {
    right: 0%;
  }
  100% {
    left: 0%;
  }
} */
