@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  margin: 0%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  margin: 0%;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 5rem;
  max-width: 90%;
  margin: auto;
}

/****** Imports ***********/
/* google font Roboto */
/* google font Shrikhand */
body {
  font-family: "Roboto", sans-serif;
  color: #9bdaf2;
}

.title {
  color: #9bdaf2;
  letter-spacing: 0.2rem;
}

.header__title {
  font: 300 50px "Shrikhand", sans-serif;
}
.header__title-emphase {
  font-size: 100px;
  text-shadow: #c70039 2px 10px;
}

.presentation {
  color: #042959;
}

.btn {
  font: 300 20px "Roboto", sans-serif;
  color: white;
}

.box {
  font-size: 25px;
  color: #042959;
}

.element p {
  color: #042959;
}

a {
  text-decoration: none;
  color: #9bdaf2;
}

.animation {
  position: relative;
  background-color: #042959;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-basis: 15%;
  border-radius: 2rem;
  padding: 0 20px 20px 20px;
  min-width: 300px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.animation__title {
  padding: 20px;
  position: relative;
}
.animation__title::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 30%;
  width: 40%;
  height: 5px;
  background-color: white;
}
.animation__tools {
  font-style: italic;
}
.animation__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 10px;
  margin-bottom: 8%;
}
.animation__codepen-link {
  color: #042959;
  background-color: white;
  position: absolute;
  bottom: 0;
  padding: 10px 10px 5px 12px;
  border-radius: 2rem 2rem 0 0;
}
.animation__codepen-link .fa-magnifying-glass {
  opacity: 1;
}
.animation__codepen-link::after {
  content: "View in Code Pen";
  opacity: 0;
  position: absolute;
  top: 0;
  left: -138%;
  background-color: white;
  white-space: nowrap;
  padding: 10px 15px 5px 15px;
  border-radius: 2rem 2rem 0 0;
}
.animation__codepen-link:hover > .fa-magnifying-glass {
  animation: disappears-element 50ms forwards;
}
.animation__codepen-link:hover::after {
  animation: appears-element 200ms forwards;
}

@keyframes disappears-element {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appears-element {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  background: #c70039;
  padding: 10px 20px;
  border-radius: 5rem;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border: 1px solid #c70039;
  box-shadow: 1px 6px 0px #94002a;
}
.btn:active {
  box-shadow: none;
  transform: translate(1px, 5px);
}

input {
  color: #042959;
  height: 30px;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
}

.header {
  background-color: #042959;
}
.header__title {
  padding: 50px 0;
}

.footer {
  background-color: #042959;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 25px;
}
.footer__link:hover {
  color: #c70039;
  transform: scale(1.2);
}
.footer__author {
  margin: 0;
}

.separation {
  width: 100%;
  height: 10px;
  background: #042959;
  background: linear-gradient(90deg, #042959 0%, #c70039 80%, #9bdaf2 100%);
  animation: separation-progress 2000ms;
  transform-origin: left;
}

@keyframes separation-progress {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  100% {
    transform: scaleX(1);
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  align-items: center;
  gap: 1rem;
  line-height: 1.8;
}
.presentation--emphase {
  font-weight: 600;
  font-size: 18px;
}
.presentation p {
  margin: 0%;
}
.presentation .btn {
  font-weight: 500;
}

.heart {
  color: #c70039;
  position: relative;
  font-size: 100px;
}
.heart--like {
  color: #c70039;
  position: absolute;
  left: 0%;
  top: 6%;
  opacity: 0;
  transform: scale(0);
}
.heart #heart:checked + label .heart--like {
  animation: liked 500ms forwards alternate;
}
.heart #heart:not(:checked) + label .heart--like {
  animation: unliked 500ms forwards ease-in-out;
}
.heart #heart:not(:checked) + label .heart--unlike {
  opacity: 1;
}

@keyframes liked {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes unliked {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.load {
  width: 10vh;
  height: 7.5vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
.load__bar {
  background-color: #c70039;
  height: 100%;
  width: 1vh;
  animation: bars 1000ms ease-in-out backwards infinite alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--5 {
  animation-delay: 1000ms;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.form__group {
  gap: 1rem;
}
.form__group input {
  outline: none;
  width: 80%;
}
.form__group input:focus {
  border: 2px solid #042959;
}
.form__group input:not(:focus):invalid {
  background-color: #c70039;
  border: 2px solid #c70039;
  color: #fff;
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
.loading {
  position: relative;
  overflow: hidden;
}
.loading__img {
  width: 150px;
  height: 150px;
  background-image: url("../images/lama.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  border-radius: 100%;
  animation-fill-mode: forwards;
  position: absolute;
}
.loading__progress-bar {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 30px;
  border-radius: 2rem;
  overflow: hidden;
  opacity: 0;
  transform-origin: left;
  background-color: #c70039;
}
.loading__btn {
  position: relative;
  margin-top: 60%;
}
.loading__btn::before {
  content: "launch";
  opacity: 1;
}
.loading__btn::after {
  content: "clean";
  position: absolute;
  left: 27%;
  opacity: 0;
}

#reload-img:checked ~ .loading__img {
  animation: animal-img 200ms 5000ms both;
}
#reload-img:checked ~ .loading__progress-bar {
  animation: progress-bar-img 5000ms 150ms both;
}
#reload-img:checked ~ .loading__btn {
  animation: change-btn-txt 6000ms;
}
#reload-img:checked ~ .loading__btn::before {
  opacity: 0;
}
#reload-img:checked ~ .loading__btn::after {
  opacity: 1;
}

@keyframes progress-bar-img {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}
@keyframes animal-img {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes change-btn-txt {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  90% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.btn-opacity {
  padding: 10px 50px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn-opacity:hover::after {
  opacity: 1;
}
.btn-opacity::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn-opacity--ellipse::after {
  background: radial-gradient(ellipse at top, #e10040 0%, #94002a 100%);
}
.btn-opacity--circle::after {
  background: radial-gradient(circle, #e10040 0%, #94002a 100%);
}

/* ********************************************* translate circle */
.element {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  padding: 20px;
  background-color: #9bdaf2;
  transition: transform 3000ms;
  transition-timing-function: ease-in;
}
.element p {
  padding-top: 20px;
}

.element:hover {
  transform: translateY(100%);
}

/******************************************** transform box rotate */
.animation__rotate-box-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.box {
  height: 100px;
  width: 100px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9bdaf2;
  transition: transform 500ms ease-in-out;
}

#box-rotate:checked ~ .animation__rotate-box-container > .box-1 {
  transform: rotate(360deg);
}
#box-rotate:checked ~ .animation__rotate-box-container > .box-2 {
  transform: rotate(1turn);
}

/******************************************** smiley */
.control-me::after {
  content: "😃";
  font-size: 100px;
}

#toggle:checked ~ .control-me::after {
  content: "😩";
}

/******************************************** loading bar */
.progress {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.progress__bar {
  width: 100%;
  height: 25px;
  background-color: #9bdaf2;
  transform-origin: left;
  transform: scaleX(0);
}

.animation__scaleX-btn:active + .progress > .progress__bar {
  animation: progress-bar 5000ms forwards;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
/******************************************** twinkle stars */
.back-stars {
  position: relative;
  width: 250px;
  height: 200px;
}

.stars {
  position: absolute;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 35px white;
  animation-name: twinkle;
  animation-iteration-count: infinite;
}

.star-1 {
  width: 16px;
  top: 165px;
  left: 63px;
  animation-duration: 2s;
}

.star-2 {
  width: 24px;
  top: 121px;
  left: 57px;
  animation-duration: 1s;
}

.star-3 {
  width: 27px;
  top: 5px;
  left: 69px;
  animation-duration: 4s;
}

.star-4 {
  width: 1px;
  top: 51px;
  left: 55px;
  animation-duration: 4s;
}

.star-5 {
  width: 20px;
  top: 67px;
  left: 132px;
  animation-duration: 4s;
}

.star-6 {
  width: 3px;
  top: 111px;
  left: 121px;
  animation-duration: 4s;
}

.star-7 {
  width: 16px;
  top: 46px;
  left: 163px;
  animation-duration: 4s;
}

.star-8 {
  width: 10px;
  top: 69px;
  left: 54px;
  animation-duration: 4s;
}

.star-9 {
  width: 3px;
  top: 143px;
  left: 61px;
  animation-duration: 2s;
}

.star-10 {
  width: 4px;
  top: 127px;
  left: 190px;
  animation-duration: 3s;
}

.star-11 {
  width: 1px;
  top: 134px;
  left: 102px;
  animation-duration: 4s;
}

.star-12 {
  width: 10px;
  top: 166px;
  left: 70px;
  animation-duration: 1s;
}

@keyframes twinkle {
  50% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}/*# sourceMappingURL=style.css.map */