/******************************************** loading bar */
.progress {
  width: 100%;
  border-radius: $box-border-rad;
  overflow: hidden;
  &__bar {
    width: 100%;
    height: 25px;
    background-color: $third-color;
    transform-origin: left;
    transform: scaleX(0);
  }
}
.animation__scaleX-btn:active + .progress > .progress__bar {
  animation: progress-bar 5000ms forwards;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
