$numb-stars: 12;

/******************************************** twinkle stars */
.back-stars {
  position: relative;
  width: 250px;
  height: 200px;
}
.stars {
  position: absolute;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 35px white;
  animation-name: twinkle;
  animation-iteration-count: infinite;
}
@for $i from 1 through $numb-stars {
  .star-#{$i} {
    width: random(30) + px;
    top: random(170) + px;
    left: random(220) + px;
    animation-duration: random(4) + s;
  }
}

@keyframes twinkle {
  50% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}
