@use "sass:math";

$principal-color: #042959;
$second-color: #c70039;
$third-color: #9bdaf2;

// background
$bg-color-body: white;
$bg-color-animation: $principal-color;
$bg-gradient: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);

// text
$txt-color: $third-color;
$title-color: $third-color;
$btn-txt-color: white;

// border radius
$box-border-rad: 2rem;
$btn-border-rad: 5rem;

// input
$input-txt: $third-color;
$input-border: #fff;
$input-txt--invalid: #fff;
$input-danger: $second-color;

// header
$header-anim-dur: 1000ms;
$header-anim-delay: 2000ms;

// separation
$separation-anim-dur: $header-anim-delay;

// loader
$loader-bars: #c70039;
$loader-size: 1vh;
$loader-anim-dur: 1000ms;
$loader-num-bars: 5;
$loader-anim-delay: math.div($loader-anim-dur, $loader-num-bars);
