body {
  background-color: $bg-color-body;
  text-align: center;
  box-sizing: border-box;
  margin: 0%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  margin: 0%;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 5rem;
  max-width: 90%;
  margin: auto;
}

.btn {
  background: $second-color;
  padding: 20px;
  border-radius: $btn-border-rad;
  width: fit-content;
  cursor: pointer;
  border: 1px solid $second-color;
  box-shadow: 2px 6px 0px darken($second-color, 10);

  &:active {
    box-shadow: none;
    transform: translate(2px, 5px);
  }
}

input {
  height: 20px;
  padding: 5px 10px;
  border: 2px solid $input-border;
  border-radius: $box-border-rad;
}
