body {
  background-color: $bg-color;
  text-align: center;
  box-sizing: border-box;
  margin: 0%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  margin: 0%;
  background-color: black;
  color: $title-color;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 5rem;
  max-width: 90%;
  margin: auto;
}

.animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  border-radius: $box-border-rad;
  padding: 0 20px 20px 20px;
  min-width: 300px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  &__title {
    padding: 10px 50px;
  }
  &__tools {
    font-style: italic;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 20px;
  }
}

.btn {
  background: $bg-color-btn;
  padding: 20px;
  border-radius: $btn-border-rad;
  width: fit-content;
  cursor: pointer;
  border: 1px solid $bg-color-btn;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input {
  height: 20px;
  padding: 5px 10px;
  border: 2px solid $input-border;
  border-radius: $box-border-rad;
}
