/****** Imports ***********/
/* google font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* google font Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: $txt-color;
}

.title {
  color: $title-color;
  letter-spacing: 0.2rem;
}

.header__title {
  font: 300 50px "Shrikhand", sans-serif;
  &-emphase {
    font-size: 100px;
    text-shadow: $second-color 2px 10px;
  }
}

.presentation {
  color: $principal-color;
}

.btn {
  font: 300 20px "Roboto", sans-serif;
  color: $btn-txt-color;
}

.box {
  font-size: 25px;
  color: $principal-color;
}

.element p {
  color: $principal-color;
}

a {
  text-decoration: none;
  color: $third-color;
}
