// input
$input-txt: $principal-color;
$input-border: #fff;
$input-txt--invalid: #fff;
$input-danger: $second-color;

input {
  color: $input-txt;
  height: 30px;
  padding: 5px 10px;
  border: 2px solid $input-border;
  border-radius: $input-border-rad;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
}
