/******************************************** transform box rotate */
.animation__rotate-box-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.box {
  height: 100px;
  width: 100px;
  border-radius: $box-border-rad;
  display: flex;
  align-items: center;
  justify-content: center;
  &-1 {
    background: $third-color;
    transition: transform 500ms ease-in-out;
  }
  &-2 {
    background: $third-color;
    transition: transform 500ms ease-in-out;
  }
}

#box-rotate:checked ~ .animation__rotate-box-container {
  & > .box-1 {
    transform: rotate(360deg);
  }
  & > .box-2 {
    transform: rotate(1turn);
  }
}
