.btn-opacity {
  border: none;
  padding: 20px;
  font-weight: 800;
  font-size: 20px;
  min-width: 200px;
  background-color: $bg-color-btn;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    @include pseudo-elem;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }

  &--ellipse::after {
    background: radial-gradient(
      ellipse at top,
      lighten($bg-color-btn, 5) 0%,
      darken($bg-color-btn, 10) 100%
    );
  }

  &--circle::after {
    background: radial-gradient(
      circle,
      lighten($bg-color-btn, 5) 0%,
      darken($bg-color-btn, 10) 100%
    );
  }
}
