.separation {
  width: 100%;
  height: 10px;
  background: $principal-color;
  background: linear-gradient(
    90deg,
    $principal-color 0%,
    $second-color 80%,
    $third-color 100%
  );
  animation: separation-progress $separation-anim-dur;
  transform-origin: left;
}

@keyframes separation-progress {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleX(1);
  }
}
